<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>525905923852-as4u1gspcmpgmsom13juoasnpvi1vimm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.525905923852-as4u1gspcmpgmsom13juoasnpvi1vimm</string>
	<key>API_KEY</key>
	<string>AIzaSyCHmvPkpn7M6SnlKG1yxJm7fRjNZ_igwHA</string>
	<key>GCM_SENDER_ID</key>
	<string>525905923852</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>supernovaonline.Bob-s-Weather</string>
	<key>PROJECT_ID</key>
	<string>bob-s-weather</string>
	<key>STORAGE_BUCKET</key>
	<string>bob-s-weather.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:525905923852:ios:cc9cb6532a9c1cad084329</string>
</dict>
</plist>